<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      <table class="table">
        <theard>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th注文ステータス></th>
          </tr>
        </theard>
        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <td><%= order.created_at %></td>
            <td><%= order.name %></td>
            <td><%= order.amount %></td>
            <td><%= order.is_active %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>