<div class="container">
  <div class="row">
    <div class="col-10 mt-5">
      <h1>Users</h1>
      <% @user.each do |user| %>
        <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.introduction %></td>
              <td><%= link_to "show", user_path(user.id) %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>