<div class="container">
  <div class="row">
      <div class="col-10">
        <table class="table">
          <h1>Bookdetail</h1>
          <thead>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
          </thead>
          <tbody>
            <!--user_image&user.name記述後book詳細表示-->
            <td>
              <= @user.image %>
              <= link_to @user.name, user_path(@user) %>
            </td>
            <td><%= @book.name %></td>
            <td><%= @book.body %></td>
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></td>
            <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
          </tbody>
        </table>
      </div>
  </div>
</div>