<div class="container">
    <div class="row">
        <div class="col-12 mx-auto mt-5">
          <h1 class="text-heding text-center">Welcam to <strong><i class="fas fa-book"></i>Bookers</strong>!!</h1>
          <p class="text-center mx-auto mt-5">CopyRight Infratop.inc</p>
        </div>
    </div>
</div>