<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-10 mx-auto">
        <p　class="text-title text-center mt-5">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトですになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <div class="col-12 mx-auto mt-4">
        <h1>新着商品</h1>
        <!--商品は４つ表示をeach文で-->
        <div class="item-box mt-3 mb-5">
          
        </div>
      </div>
    </div>
  </div>
</div>