<div class="container">
    <div class="row">
        <div class="col-12 mx-auto mt-5">
            <h1 class="text-heding text-center">Welcam to <strong><>Bookers</strong>!!</h1>
            <p class="text text-center">In <stromg><>Bookers,</stromg><br>
               you can share and exchange your opinions , inpressions , and emotions<br>
               about various books!
            </p>
            <= link_to "Log in", , class: "btn btn-primary mx-auto" %>
            <= link_to "Sign up", , class: "btn btn-success mx-auto" %>
            <p class="text-center mx-auto mt-5">CopyRight Infratop.inc</p>
        </div>
    </div>
</div>