<h1>投稿リスト</h1>
<% @lists.each do |list| %>
<p>タイトル</p>
<span><%= link_to list.title, todolists_path(list.id) %></span>
<h1>画像</h1>
<%= attachment_image_tag list, :image, :fill, 100, 100,format: 'jepg' %>
<% end %>